/* Estilos básicos */
/* Reset de márgenes y relleno */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 12px;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
h1{ 
  background-color: #F6F4EB;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
h2#country{
  background-color: #91C8E4;
}
div#weather-info{
  background-color: #749BC2;
}
/* Estilos para los párrafos dentro de #weather-info */
#weather-info p {
  font-size: 16px;
  color: #000;  
  padding: 8px;
}

/* Estilos específicos para cada párrafo por su ID */
#weather-info #p1 {
  font-weight: bold;
  text-decoration: underline;

}

#weather-info #p2 {
  text-decoration: underline;
}

#weather-info #p3 {
  font-style: italic; 
}

#weather-info #p4 {
  text-transform: uppercase;
}

#city-select {
  border-radius: 8px; 
  border: 2px solid #4682A9;
  padding: 8px;
  font-size: 16px;
  background-color: #F6F4EB;
  color: #333;
  cursor: pointer;
}
/* style with hover on dropdown menu */
#city-select:focus {
  outline: none;
  border-color: #060e12;
}

div#selection-country{
  background-color: #4682A9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}