/* Estilos básicos */
/* Reset de márgenes y relleno */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 12px;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
h1{ 
  background-color: #F6F4EB;
}
h2#country{
  background-color: #91C8E4;
}
div#weather-info{
  background-color: #749BC2;
}
div#weather-info>p{
  padding: 4px;
}
#city-select {
  border-radius: 8px; 
  border: 2px solid #4682A9;
  padding: 8px;
  font-size: 16px;
  background-color: #F6F4EB;
  color: #333;
  cursor: pointer;
}
/* style with hover on dropdown menu */
#city-select:focus {
  outline: none;
  border-color: #060e12;
}

div#selection-country{
  background-color: #4682A9;
}